<div class="portolio-main">
  
  <% if @sections.present? %>
    <% @sections.each do |section| %>
      <%= link_to section[:path], class: "portfolio-genre" do %>
        <div class="photos" style="background-image: url('<%= asset_path(section[:image_url]) %>');">
          <h2><%= section[:title] %></h2>
        </div>
      <% end %>
    <% end %>
  <% end %>

</div>