<div class="port-container">

  <div class="port-blurb">
    <h1>My Work</h1>
  </div>

  <div class="portraits-section">
    <h2>portraits</h2>
  </div>

  <br>

  <div class="fitness-section">
    <h2>Fitness</h2>
  </div>

  <br>

  <div class="boudoir-section">
    <h2>Boudoir</h2>
  </div>

  <br>

  <div class="fashion-section">
    <h2>Fashion</h2>
  </div>

  <br>

  <div class="product-section">
    <h2>Product</h2>
  </div>

</div>