<div class="portolio-main">
  <ul class="portfolio-list">
    <%= link_to "Portraits", portraits_index_path, class: "portfolio-genere" %>
    <%= link_to "Headshots", headshots_index_path, class: "portfolio-genere" %>
    <%= link_to "Couples", couples_index_path, class: "portfolio-genere" %>
    <%= link_to "Fitness", fitness_index_path, class: "portfolio-genere" %>
  </ul>
</div>