html, body {
  height: 100%;
  margin: 0;
  font-family: "Montserrat", "san-serif";
  background-color: #fff;
  box-sizing: border-box;
}

.nav {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  position: relative;
  height: 100px;
  background-color: #ececec;
  z-index: 1000;
}

.logo {
  width: auto;
  height: 100px;
  margin: 0;
  padding: 0;
}

.logo-2 {
  display: none;
}

.navlist,
.social-icons {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navlist:last-child {
  margin-right: 0;
}

.nav-item {
  text-decoration: none;
  font-size: 2.1em;
  font-weight: 300;
  color: #00144f;
  padding: 20px;
  margin: 0 20px 0 20px;
  border-radius: 20px;
}

.nav-item:hover {
  background-color: #00144f;
  color: #ececec;
  transition: 0.5s;
}

.social-icons a {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.social-icons a:last-child {
  margin-right: 0;
}

ion-icon {
  font-size: 1.8em;
  color: #00144f;
  margin: 0 20px 0 0;
  padding-bottom: 2px;
}


#instagram:hover {
  color: #eb2963;
  transition: 0.3s;
}

#facebook:hover {
  color: #1877F2;
  transition: 0.3s;
}

#pinterest:hover {
  color: #C8232C;
  transition: 0.3s;
}

#email:hover {
  color: #fff;
  transition: 0.3s;
}

.burger-menu {
  display: none;
  cursor: pointer;
  font-size: 30px;
}

.book-link-desktop {
  display: none;
}

.burger-menu-dropdown {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}


@media screen and (max-width: 1024px) {

  .nav {
    justify-content: space-around;
  }

  .navlist {
    display: block; 
  }

  .nav-item {
    font-size: 1.3em;
  }

  .logo {
    display: none;
  }

  .burger-menu {
    display: block;
    color: #00144f;
  }

  .social-icons {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .burger-menu-dropdown {
    position: absolute;
    width: 100%;
    height: auto;
    top: 100%;
    left: auto;
    background-color: #fff;
    display: none;
    text-align: center;
  }
  
  .burger-menu-dropdown.active {
    display: block;
  }

  .burger-menu-dropdown a {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 400;
    color: #00144f;
    margin-top: 10px;
  }

}