html, body {
  height: 100%;
  margin: 0;
  font-family: "Montserrat", "san-serif";
}


.nav {
  display: flex;
  align-items: center ;
  justify-content: center;
  width: 100%;
  position: absolute;
  height: 100px;
  background-color: transparent;
  z-index: 1000;
}

.navlist {
  padding: 0;
}

a {
  text-decoration: none;
  font-size: 2.1em;
  font-weight: 100;
  color: #fff;
  margin: 20px;
  padding: 20px;
}

a:hover {
  background-color: #fff;
  color: #000;
}