html, body {
  height: 100%;
  margin: 0;
  font-family: "Montserrat", "san-serif";
  background-color: #202020;
  box-sizing: border-box;
}

.nav {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  position: relative;
  height: 100px;
  background-color: #1d1d1d;
  z-index: 1000;
}

.navlist {
  padding: 0;
  margin: 0;
}

.nav-item {
  text-decoration: none;
  font-size: 2.1em;
  font-weight: 200;
  color: #c99b57;
  padding: 20px;
  margin: 0 20px 0 20px;
}

.nav-item:hover {
  background-color: #c99b57;
  color: #1d1d1d;
  transition: 0.5s;
}

.logo {
  font-size: 1.8em;
  color: #c99b57;
  margin: 0 100px 0 40px;
}

ion-icon {
  font-size: 1.8em;
  color: #c99b57;
  padding: 0 20px 0 0;
}
