.label {
  padding: 0;
  margin: 0 0 20px 0;
  color: #fff;
}

.submit {
  padding: 0;
  margin: 40px 0 0 0;
}

.booking-page {
  max-width: 400px;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

