.portfolio-main {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  text-align: center;
}

.portfolio-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;;
}

a {
  text-decoration: none;
  color: #fff;
}