.portfolio-main {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  text-align: center;
}

.portfolio-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;;
  text-align: center;
}

.photos {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

a {
  text-decoration: none;
  color: #fff;
}